UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Linux
AlignOperands: true
ColumnLimit: 0
SortIncludes: false
ContinuationIndentWidth: 0
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: DontAlign